<%- include('../partials/head') %>
<%- include('../partials/header') %>





<div class="container">

    <div class="row height d-flex justify-content-center align-items-center" style="padding-top: 200px;">




        <div class="col-md-8">


        
            <form action="/" method="post">

                <div class="search d-flex">
                    
                    <select id="" name="accType" class="form-select" aria-label="Default select example">
                        <!-- <option selected>Main</option> -->
                        
                        <% for (key in accountMode) { %>
                            <% if (accountMode[key].active == true) { %>
                            <option value="<%= accountMode[key].name %>"> <%= accountMode[key].label %>  </option>
                            <% } %>
                        <% } %>
                    </select>


            
                    
                    <input type="text" name="inputName" class="form-control" placeholder="Enter RSN Name" style="line-height: 2em;">
                    <button type="submit" name="Submit" class="btn btn-primary">Search</button>
                
                </div>
            </form>
        
        </div>
        
    </div>


    <% if (a == "error") { %>
        <div class="row">
            <div class="col">
                <br>
                <div class="alert alert-danger" role="alert" style="text-align: center;">
                    <i class="fas fa-exclamation-circle"></i>
                    <h4>No player found!</h4>
                    Please review the account type and or rsn name!
                </div>
            </div>
        </div>
    <% } %>


    <div class="row">
        <div class="col">
            <div class="center">
                <div class="container">
                  <div class="setting-description">
                    <div class="setting-description-text" style="margin-left: 15px">
                      <h10>Description</h10>
                    </div>
                  </div>

                  <div class="wrapper-dropdown" id="dropdown">
                    <span class="selected-display" id="destination">Pick an option!</span>
                    <svg class="arrow" id="drp-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="transition-all ml-auto rotate-180">
                      <path d="M7 14.5l5-5 5 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <ul class="dropdown form-select">
                      <li class="item">Option 1</li>
                      <li class="item">Option 2</li>
                      <li class="item">Option 3</li>
                      <li class="item">Option 4</li>
                    </ul>
                  </div>
                </div>
              </div>

            
        </div>
    </div>


    
    

</div>


<%- include('../partials/footer') %>