<%- include('../partials/head') %>
<%- include('../partials/header') %>





<div class="container">


    <div class="row height d-flex justify-content-center align-items-center" style="padding-top: 200px;">




        <div class="col-md-8">


        
            <form action="/" method="post">

                <div class="search d-flex">

                    <select id="" name="accType" class="form-select" aria-label="Default select example">
                        <!-- <option selected>Main</option> -->
                        <% for (key in accountMode) { %>
                            <% if (accountMode[key].active == true) { %>
                            <option value="<%= accountMode[key].name %>"> <%= accountMode[key].label %> </option>
                            <% } %>
                        <% } %>
                    </select>


            
                    
                    <input type="text" name="inputName" class="form-control" placeholder="Enter RSN Name" style="line-height: 2em;">
                    <button type="submit" name="Submit" class="btn btn-primary">Search</button>
                
                </div>
            </form>
        
        </div>
        
    </div>


    <% if (a == "error") { %>
        <div class="row">
            <div class="col">
                <br>
                <div class="alert alert-danger" role="alert" style="text-align: center;">
                    <i class="fas fa-exclamation-circle"></i>
                    <h4>No player found!</h4>
                    Please review the account type and or rsn name!
                </div>
            </div>
        </div>
    <% } %>


    <div class="row">
        <div class="col">
            

            
        </div>
    </div>


    
    

</div>


<%- include('../partials/footer') %>