<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
 
    <div class="container">
      <div class="row">
        <div class="col">
        <br>
        <% if (user) { %>
            <div class="row">
                <div class="col">
                    <h2> <%= totalEXPRemain %> </h2>
                </div>
                <div class="col">
                    <h2> <%= expToMax %> </h2>
                </div>
    
                <div class="col">
                    <h2> <%= percentToMax%>
                        <% if (percentToMax != "") { %>
                            %
                        <% } %>
                    
                    
                    </h2>
                </div>
            </div>
        <% } %>
    
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Skill</th>
              <th scope="col" style="text-align: right;">Level</th>
              <th scope="col" style="text-align: right;">Current XP</th>
              <th scope="col" style="text-align: right;">Rank</th>
              <th scope="col" style="text-align: right;">XP left to 99</th>
            </tr>
          </thead>
      
      
          <tbody>
            <% for (key in playerDetails) { %>
              <tr>
                <td> <image src="/images/skill_icons/<%=key%>_icon.png"></image> <%= key %> </th>
                  <% if (playerDetails[key].level === 99) { %>
                      <td style="background-color: #64d864; text-align: right;"> <%= playerDetails[key].level %> </td>
                  <%} else { %>
                      <td style="text-align: right;"> <%= playerDetails[key].level %> </td>
                  <% } %>   
                <td style="text-align: right;"> <%= playerDetails[key].xp %> </td>
                <td style="text-align: right;"> <%= playerDetails[key].rank %> </td>
                <td style="text-align: right;"> <%= playerDetails[key].xpLeft %> </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </br><br>
      </div>
    </div>
    

      <div class="row" style="background-color: red;">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg>
      </div>

    </div>

 
</body>


<%- include('../partials/footer') %>